.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url('../../img/mountain.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.sedona-promo {

}
